.dashboard {
  font-size: 1rem;
  position: relative;
  width: 50dvw;
  min-width: 350px;
  background-color: white;
  border-radius: 10px;
  min-height: 2rem;

  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;

  &__text {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    & > * {
      margin: 0px;
    }

    &--number {
      font-weight: 500;
    }

    &--unit {
      font-weight: 200;
    }
  }

  &__value {
    display: flex;
    gap: 0.4rem;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  &__label {
    font-size: 0.9rem;
    color: #01abe5;
    font-weight: 800;
  }

}
