.map {
  height: 100%;

  grid-column: 1 / 9;
  grid-row: 1 / 10;

  a {
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 5px 5px 10px 5px;

    &:hover {
      color: #01abe5;
    }
  }
}

.controls {
  background-color: white;
}

.leaflet-center {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  pointer-events: none;
}

.map-picker {
  position: relative;
}
